/*Google Fonts Montserrat Import*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/* Color Scheme
* Background: #24252A
* Accent Color: #51CB20;
*/

/*Overriding Default CSS*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
  background-color: #24252A;
}

/* General header text rules */
header li, a, p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

/* Header Rules */
header {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10px;
}

/* Nav Logo Styling */
#nav_title {
  font-size: 25px;
}

/* NavBar Styling */
.nav_options{
  list-style: none;
}

.nav_options li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_options li a {
  transition: all 0.3s ease 0s;
}

.nav_options li a:hover {
  color: #51CB20;
}
/* Page Section Class definition */
.page_section {
  height: 100vh;
  display: flex;
}

/* About Section Styling */
#about_section {
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  margin: auto;
}
#about_section h2 {
  color: #edf0f1;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 80px;
}

#about_section p {
  font-size: 20px;
}

#about_section img {
  border-radius: 30px
}

/* Hand Waving Animation in pure CSS */
@keyframes wave-animation {
  0% { transform: rotate( 0.0deg) }
 10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
 20% { transform: rotate(-8.0deg) }
 30% { transform: rotate(14.0deg) }
 40% { transform: rotate(-4.0deg) }
 50% { transform: rotate(10.0deg) }
 60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
100% { transform: rotate( 0.0deg) }
}

.wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}


/* Skills Section Styling */
#skills_section {
  align-items: space-between;
  justify-content: center;
  margin: auto;
  display: flex;
}

#skills_content{
  padding-top: 10%;
}

#skills_section h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 60px;
  color: #edf0f1;
}

#skills_section li {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #edf0f1;
}

.skill_container {
  display: flex;
  justify-content: space-between;
}

.skill_item {
  width: 10%;
  height: 20%;
  border: #51CB20;
  border-radius: 35px;
  padding: 10px;
}