/*Google Fonts Montserrat Import*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/* Color Scheme
* Background: #24252A
* Accent Color: #51CB20;
*/

/*Overriding Default CSS*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
  background-color: #24252A;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

/* General header text rules */
header li, a, p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

/* Text Highlighting Rules */
.highlighted_text {
  color: #51CB20;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 25px;
}

.small_highlighted_text {
  color: aquamarine;
  font-family: sans-serif;
  font-weight: bold;
}

/* Header Rules */
header {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10px;
  z-index: 1;
}

/* Nav Logo Styling */
#nav_title {
  font-size: 25px;
}

/* NavBar Styling */
.nav_options{
  list-style: none;
}

.nav_options li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_options li a {
  transition: all 0.3s ease 0s;
}

.nav_options li a:hover {
  color: #51CB20;
}
/* Page Section Class definition */
.page_section {
  width: 100%;
  height: 100%;
  height: 100vh;
  display: flex;
  scroll-snap-align: center;
}

/* About Section Styling */
#about_section {
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  margin: auto;
}
#about_section h2 {
  color: #edf0f1;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 80px;
}

#about_section p {
  font-size: 20px;
}

#about_section img {
  border-radius: 30px
}


/* Hand Waving Animation in pure CSS */
@keyframes wave-animation {
  0% { transform: rotate( 0.0deg) }
 10% { transform: rotate(14.0deg) }
 20% { transform: rotate(-8.0deg) }
 30% { transform: rotate(14.0deg) }
 40% { transform: rotate(-4.0deg) }
 50% { transform: rotate(10.0deg) }
 60% { transform: rotate( 0.0deg) }
100% { transform: rotate( 0.0deg) }
}

.wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

/* Skills Section Styling */
#skills_section {
  align-items: space-between;
  justify-content: center;
  margin: auto;
  display: flex;
}

#skills_content{
  padding-top: 10%;
}

#skills_section h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 60px;
  color: #edf0f1;
}

#skills_section li {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #edf0f1;
}

.skill_container {
  display: flex;
  justify-content: space-between;
}

.skill_item {
  width: 10%;
  height: 20%;
  border: #51CB20;
  border-radius: 35px;
  padding: 10px;
}

/* Contacty Section */
#contact_section {
  padding-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact_section h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 60px;
  color: #edf0f1;
}

.icon_container {
  width: 80%;
  padding: 5%;
  display: flex;
  justify-content: space-around;
}

#email_icon {
  font-size: 120px;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.phone {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation-name: shake;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  display: inline-block;
}