/*Google Fonts Montserrat Import*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/* Color Scheme
* Background: #24252A
* Accent Color: #51CB20;
*/

/*Overriding Default CSS*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
  background-color: #24252A;
}

/* General text rules */
li, a, p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

/* Header Rules */
header {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10px;
}

/* Nav Logo Styling */
#nav_title {
  font-size: 25px;
}

/* NavBar Styling */
.nav_options{
  list-style: none;
}

.nav_options li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_options li a {
  transition: all 0.3s ease 0s;
}

.nav_options li a:hover {
  color: #51CB20;
}
/* Page Section Class definition */
.page_section {
  height: 100vh;
  display: flex;
}
/* About Section Styling */
#about_section {
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  margin: auto;
}
#about_section h2 {
  color: #edf0f1;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 80px;
}

#about_section p {
  font-size: 20px;
}
#about_section img {
  border-radius: 30px
}